@import '../../../style/mixin.less';

.Display {
    .display-output {
        min-height: 9rem;

        .error {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: @gray-white;
            padding: @space-tiny-4;
            color: @color-danger;
            overflow: auto;
        }
    }
}
