@import '../../../style/mixin.less';

.Display {
    .display-output {
        > .sandbox {
            &.hidden {
                position: absolute;
                opacity: 0;
            }
        }

        > .error {
            background: @gray-white;
            padding: @space-tiny-4;
            color: @color-danger;
        }
    }
}
