.RoundsAndMatches {
    table {
        border-collapse: collapse;

        td, th {
            padding: 0.5em;
        }
    
        td {
            border-top: 1px solid lightgray;
        }

        .result {
            white-space: nowrap;
            
            &[data-result="-1"] {
                color: lightgray;
            }

            &[data-result="0"] {
                color: red;
            }

            &[data-result="1"] {
                color: blue;
            }

            &[data-result="2"] {
                color: green;
            }
        }
    }
}
