@import '../media.less';

.EcoSystem {
    padding-top: 40px;
    margin-top: -40px;

    .heading {
        background: #F6F6F6;

        .container {
            max-width: 1200px;
            padding: 0 15px;
            margin: auto;
        }

        .title {
            font-weight: 700;
            font-size: 38px;
            line-height: (46 / 38);
            text-align: center;
        }

        .divider {
            margin: 24px auto 38px;
            background: #008FD4;
            width: 105px;
            height: 2px;
        }

        .description {
            font-weight: 700;
            font-style: italic;
            font-size: 24px;
            line-height: (34 / 24);
            text-align: center;

            .media-max(1000px, {
                font-size: 20px;
            });

            .media-max(800px, {
                font-size: 18px;
            });

            .media-max(600px, {
                font-size: 16px;
            });
        }
    }

    .screenshots {
        padding: 25px 0 135px;
        background: #F6F6F6;
        color: #474747;

        .Slider {
            --slide-width: min(1170px, 100%);
            --slide-spacing: 80px;
            --slide-margin: 60px;
            --focus-color: #28A8E044;
            max-width: calc(var(--slide-width) + 2 * var(--slide-margin));
            margin: auto;

            .media-min(801px, {
                .SliderDotNavigation {
                    display: none;
                }
            });
            
            .media-max(800px, {
                --slide-margin: 0;
                --slide-spacing: 0;

                .SliderBackButton,
                .SliderNextButton {
                    display: none;
                }
            });
        }
        
        .ImageView {
            width: 100%;
            padding: 15px 0;
            --aspect-ratio: 2.2;
        }
    }

    .highlights {
        .container {
            margin: auto;
            max-width: 1460px;
            padding: 0 20px;
        }

        .content-bar {
            background: #1F459D;
            color: white;
            border-radius: 14px;
            overflow: hidden;
            transform: translateY(-72px);

            .Background {
                .filter {
                    background: #1F459D;
                    background-blend-mode: screen;
                    opacity: 80%;
                }
            }
        }
        
        ul {
            margin: auto;
            max-width: 1260px;
            min-height: 144px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            padding: 30px;
            list-style: none;
            
            .media-max(1300px, {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            });
            
            .media-max(800px, {
                grid-template-columns: 1fr 1fr;
            });

            li {
                align-self: flex-start;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .quantity {
                    font-weight: 700;
                    font-size: 30px;
                }

                .unit {
                    margin-block-start: 8px;
                    font-weight: 700;
                    font-size: 17px;
                }

                .description {
                    margin-block-start: 4px;
                    font-size: 15px;
                }
            }
        }
    }
}
