@import '../style/mixin.less';

.Gomoku {
    input,
    select {
        box-sizing: border-box;
        width: 20em;
        height: 2.5em;
        padding: 0 0.8em;
        border: 1px solid darkgray;
        appearance: none;
        background: none;
        box-shadow: none;
        color: currentColor;
        .font-body();
        .border-radius(2);
    }

    button,
    select {
        &:not(:disabled) {
            cursor: pointer;
        }
    }
}
