@import '../style/mixin.less';

.Gomoku {
    input, select {
        border: 1px solid @gray-twilight;
        box-sizing: content-box;
        height: @dimension-input-standard-height;
        padding: @dimension-input-standard-padding;
        width: 20rem;
        .font-body();
        .border-radius(2);
    }

    button {
        &:not(:disabled) {
            cursor: pointer;
        }
    }
}
