.SideNav {
    width: 200px;

    ul {
        li {
            &.active {
                color: blue;
            }

            a {
                cursor: pointer;
            }
        }
    }
}
