@import '../../style/mixin.less';

.Button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: @gray-white;
    padding: 0 0.6em;
    border: 1px solid transparent;
    white-space: nowrap;
    .border-radius(2);
    .font-button();

    &:not(:disabled) {
        .color-tinge-interactive(@text-color-default);
    }

    &:disabled {
        color: @gray-twilight;
    }

    &.variant-outlined {
        border-color: @gray-light-A2;
    }

    &.variant-textual {
        border-color: none;
    }

    &.size-small {
        .font-button-small();
    }

    &.size-large {
        .font-button-large();
    }

    > :not(:last-child) {
        margin-right: 0.8em;
    }
}
