.RoundsAndMatches {
    table {
        border-collapse: collapse;

        td, th {
            padding: 0.5em 0.25em;
        }
    
        td {
            border-top: 1px solid lightgray;
        }

        .result {
            white-space: nowrap;
            
            &[data-result="-1"] {
                color: lightgray;
                font-size: 0.9em;
                
                sup, span, sub {
                    font-style: italic;
                    font-weight: bold;
                }
            }

            &[data-result="0"] {
                color: red;
                text-transform: uppercase;
            }

            &[data-result="1"] {
                color: blue;
                text-transform: uppercase;
            }

            &[data-result="2"] {
                color: green;
                text-transform: uppercase;
            }
        }

        .result-details {
            white-space: nowrap;
            font-size: x-small;
            color: #aaa;
        }
    }
}
