@import '../../../style/mixin.less';

.Console {
    &.empty {
        transition: opacity 1s;
        opacity: 0.3;
    }


    .console-output {
        height: 14rem;
        overflow: auto;
        
        p {
            padding: @space-tiny-1 @space-tiny-4;
            .font-code();

            &.multiple-line {
                white-space: pre-wrap;
            }

            &:not(:first-child) {
                border-top: 1px solid @gray-light-A4;
            }

            &.focused {
                background: @gray-light-A4;
            }

            &[data-command="info"] {
                color: @color-info;
            }

            &[data-command="error"] {
                color: @color-danger;
            }

            &[data-command="clear"] {
                color: @gray-twilight;
                font-style: italic;
            }
        }
    }
}
