@import '../../../style/mixin.less';

.Console {
    width: 100%;
    padding: @space-tiny-4;
    border: 1px solid @gray-light-A1;

    > .heading {
        display: flex;
        flex-direction: row;
        align-items: center;

        .title,
        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            > :not(:last-child) {
                margin-right: @space-tiny-4;
            }
        }
        
        .title {
            flex-grow: 1;
            margin-right: @space-tiny-4;
        }
    }

    > .body {
        margin-top: @space-tiny-4;
        border: 1px solid @gray-twilight;
        height: 14rem;
        overflow: auto;
        .font-code();
        
        p {
            padding: @space-tiny-1 @space-tiny-4;

            &.multiple-line {
                white-space: pre-wrap;
            }

            &:not(:first-child) {
                border-top: 1px solid @gray-light-A3;
            }

            &.focused {
                background: @gray-light-A4;
            }

            &[data-command="info"] {
                color: @color-info;
            }

            &[data-command="error"] {
                color: @color-danger;
            }

            &[data-command="clear"] {
                color: @gray-twilight;
                font-style: italic;
            }
        }
    }
}
