* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}

input[type="text"],
input[type="number"],
select {
    font-family: inherit;
    font-size: inherit;
    color: currentColor;
    border: 1px solid darkgray;
    width: 10em;
    padding: 0.2em;
    border-radius: 3px;
    appearance: none;
    background: none;
    box-shadow: none;
}

input[type="file"],
input[type="file"]::file-selector-button {
    font-family: inherit;
    font-size: small;
}

input[type="file"] {
    max-width: 200px;
}

.GridMethod {
    .canvas {
        background: midnightblue;
        overflow: hidden;
        
        img {
            position: absolute;
            display: block;
            width: 100%;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;

            td {
                border: 1px solid currentColor;

                svg {
                    display: block;
                }
            }
        }
    }

    .controls {
        padding: 0.5rem;

        table {
            border-collapse: separate;
            border-spacing: 0.5rem;

            th {
                text-align: left;
                font-weight: normal;
            }
        }
    }
}
