* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    background: white;
}

input[type="text"],
input[type="number"],
select {
    font-family: inherit;
    font-size: inherit;
    color: currentColor;
    border: 1px solid lightgray;
    padding: 0.2em;
    border-radius: 3px;
    appearance: none;
    background: none;
    box-shadow: none;
    outline: none;

    &[readonly] {
        border-color: transparent;
    }

    &:focus {
        border-color: darkgray;
    }
}

input[type="file"] {
    font-family: inherit;
    font-size: inherit;
}

label.browse-file {
    cursor: pointer;
    display: inline-block;
    padding: 0.2em 0.5em;
    border: 1px solid lightgray;
    border-radius: 3px;

    &:active {
        border-color: darkgray;
    }

    input {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.GridMethod {
    .canvas {
        background: midnightblue;
        overflow: hidden;
        
        img {
            position: absolute;
            display: block;
            width: 100%;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;

            td {
                border: 1px solid currentColor;

                svg {
                    display: block;
                }
            }
        }
    }

    .controls {
        padding: 0.5rem;
        max-width: 40rem;

        table {
            border-collapse: separate;
            border-spacing: 0.5rem;
            width: 100%;

            th {
                text-align: left;
                font-weight: normal;
            }

            td {
                input[type="text"],
                input[type="number"],
                input[type="file"],
                select {
                    width: 100%;
                }
            }
        }
    }
}
