* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background: white;
    color: black;
}

.faded {
    color: darkgray;
}

input[type="text"],
input[type="number"],
select,
.button {
    font-family: inherit;
    font-size: inherit;
    color: currentColor;
    border: 1px solid lightgray;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    appearance: none;
    background: none;
    box-shadow: none;
    outline: none;

    &:focus,
    &:active {
        border-color: darkgray;
    }

    &[readonly] {
        border-color: transparent;
    }
}

label {
    input[type="checkbox"],
    input[type="file"] {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.button {
    cursor: pointer;
    display: inline-block;
}

.GridMethod {
    .header {
        background: midnightblue;
        color: white;
        padding: 1rem 0;

        h1 {
            text-align: center;
        }
    }

    .canvas {
        background: midnightblue;
        overflow: hidden;

        h1 {
            display: table;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            color: white;
            font-size: 2em;
            font-weight: bold;
            width: 100%;
            text-align: center;
        }
        
        img {
            position: absolute;
            display: block;
            width: 100%;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;

            td {
                border: 1px solid currentColor;

                svg {
                    display: block;
                }
            }
        }
    }

    .controls {
        padding: 0.5rem;
        max-width: 40rem;

        table {
            border-collapse: separate;
            border-spacing: 0.5rem;
            width: 100%;

            th {
                text-align: left;
                font-weight: normal;
            }

            td {
                input[type="text"],
                input[type="number"],
                input[type="file"],
                select {
                    width: 100%;
                }
            }
        }
    }
}
