@import '../../style/mixin.less';

.Main {
    width: 100%;
    padding: @viewport-padding @viewport-padding @space-medium-4;

    > * {
        width: 100%;
    }

    > .unexpected-error {
        h1 {
            .font-h1();
            margin-bottom: @space-medium-4;
        }

        p {
            font-family: @font-family-code;
            white-space: pre-line;
        }
    }
}
