@import '../../style/mixin.less';

.MarkdownViewer {
    // Relate to passing the top bar when scroll-into-view.
    // Keep all children not overlapping outside elements.
    z-index: 1;

    > * {
        // Relate to passing the top bar when scroll-into-view.
        // Headings use padding-top to make space above them,
        // So other elements need to have a higher z-index to not be overlapped.
        z-index: 1000;
    }

    > :not(:last-child) {
        margin-bottom: 0.6em;
    }

    > h1 + p:not(:last-child) {
        margin-bottom: 1.4em;
    }

    h1 {
        color: @color-primary;
    }

    h1, h2, h3, h4, h5, h6 {
        // Pass the top bar when scroll-into-view
        padding-top: @top-height + @viewport-padding;
        margin-top: -@top-height - @viewport-padding;

        a {
            visibility: hidden;
            margin: 0 0 0 0.5em;
            width: 1.5em;
            height: 1.5em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            .color-tinge-interactive(@text-color-default);
            .border-radius(2);

            &:hover {
                visibility: visible;
                text-decoration: underline;
            }
        }

        &:hover {
            a {
                visibility: visible;
            }
        }
    }

    ul, ol {
        padding: 0 0 0 2em;

        & > li {
            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    b {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }

    a {
        color: @color-primary;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    pre {
        width: 100%;
        padding: @space-small-4;
        border: 1px solid @gray-light-A3;
        overflow: auto;
    }

    table {
        border-collapse: collapse;

        tr {
            th, td {
                text-align: left;
                padding: @space-tiny-4;
                vertical-align: top;
            }

            th {
                .font-body-semibold();
            }

            td {
                border-top: 1px solid @gray-light-A3;
            }

            &:hover td {
                background: @gray-light-A4;
            }
        }
    }
}
