
:root {
    --layout-padding: 0.5rem;
}

.vschess.vschess-layout-mobile-mod {
    padding: var(--layout-padding);
}

.vschess.vschess-layout-mobile-mod > * {
    margin-bottom: 1rem;
}

.vschess-title,
.vschess-local-download-link,
.vschess-change-select-title,
.vschess-change-select-list,
.vschess-move-select-list,
.vschess-copy,
.vschess-column-index,
.vschess-message-box,
.vschess-format-bar,
.vschess-mobile-close-tab,
.vschess-tab-title-comment,
.vschess-tab-body-comment,
.vschess-tab-title-info,
.vschess-tab-body-info,
.vschess-tab-title-share,
.vschess-tab-body-share,
.vschess-tab-title-export,
.vschess-tab-body-export,
.vschess-tab-title-config,
.vschess-tab-body-config,
.vschess-tab-title-edit,
.vschess-tab-body-edit-start-text,
.vschess-tab-body-edit-start-rounds,
.vschess-tab-body-edit-start-player,
.vschess-mobile-show-move-list,
.vschess-recommend-class,
.vschess-recommend-list,
.vschess-info-editor-area {
    display: none;
}

.vschess:not(.vschess-edit-mode) .vschess-tab-body-edit-end-button,
.vschess:not(.vschess-edit-mode) .vschess-tab-body-edit-cancel-button,
.vschess:not(.vschess-edit-mode) .vschess-tab-body-edit-tips,
.vschess:not(.vschess-edit-mode) .vschess-info-editor-area,
.vschess:not(.vschess-edit-mode) .vschess-tab-body-edit-area,
.vschess:not(.vschess-edit-mode) .vschess-board-edit {
    display: none;
}

.vschess.vschess-edit-mode .vschess-tab-body-edit-start-button,
.vschess.vschess-edit-mode .vschess-tab-body-edit-blank-button {
    display: none;
}

.vschess-tab-body-edit-node-start-button,
.vschess-tab-body-edit-begin-button,
.vschess-tab-body-edit-open-button,
.vschess-tab-body-edit-textarea,
.vschess-tab-body-edit-start-round,
.vschess-tab-body-edit-start-player,
.vschess-tab-body-edit-tips,
.vschess-tab-body-edit-node-textarea,
.vschess-tab-body-edit-node-end-button,
.vschess-tab-body-edit-node-cancel-button {
    display: none;
}

.vschess-tab-body-edit-area {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--cell-width) * 8);
}

.vschess-control-bar button {
    width: calc(var(--board-width) / 8);
    height: 2rem;
    white-space: nowrap;
}

.vschess-control-bar button.vschess-control-bar-play,
.vschess-control-bar button.vschess-control-bar-pause {
    width: calc(var(--board-width) / 4);
}

.vschess-control-bar button.vschess-control-bar-play:not(.vschess-control-bar-button-current),
.vschess-control-bar button.vschess-control-bar-pause:not(.vschess-control-bar-button-current) {
    display: none;
}

.vschess-tab-body-edit button {
    padding: 0 1rem;
    height: 2rem;
}

.vschess-tab-body-edit-area {
    margin-top: 1rem;
}

.vschess-tab-body-edit > button {
    margin-right: 1rem;
}
