@import '../../../style/mixin.less';

.FileEditor {
    border: 1px solid @gray-light-A1;

    .heading {
        padding: @space-tiny-4;
        cursor: pointer;
        user-select: none;
        .color-tinge-interactive(@text-color-default);
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .filename {
            flex-grow: 1;
            .font-body-semibold();
        }

        .status {
            color: @gray-twilight;
        }
    }

    .CodeArea {
        width: 100%;
        border-top: 1px solid @gray-light-A3;
    }
}
