@import '../../../style/mixin.less';

.Player {
    .player-sandbox {
        height: 14rem;

        .FiddleheadSandbox,
        .error {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        .error {
            background: @gray-white;
            padding: @space-tiny-4;
            color: @color-danger;
            overflow: auto;
        }
    }
}
