@import '../../style/mixin.less';

.Cell {
    width: 2rem;
    height: 2rem;
    border: 1px solid @gray-twilight;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    &[data-value="0"]:hover {
        background: @gray-light-A2;
    }

    &[data-value="1"]::after {
        content: "X";
    }

    &[data-value="2"]::after {
        content: "O";
    }

    &[data-streak="true"] {
        background: @color-success;
        color: @gray-white;
    }
}
