@import '../../style/mixin.less';

.Cell {
    width: 2rem;
    height: 2rem;
    border: 1px solid @gray-twilight;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    
    &:not(.locked){
        &[data-value="2"]:hover {
            background: @gray-light-A2;
            cursor: pointer;
        }
    }

    &[data-value="0"]::after {
        content: "O";
        color: #E00;
        font-weight: bold;
    }

    &[data-value="1"]::after {
        content: "X";
        color: #0A0;
        font-weight: bold;
    }

    &[data-streak="true"] {
        &::after {
            color: #FFF;
        }

        &[data-value="0"] {
            background: #E00;
        }
    
        &[data-value="1"] {
            background: #0A0;
        }
    }
}
