@import '../../style/mixin.less';

.Cell {
    border: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    .fix-square(2rem);
    
    &::after {
        font-family: Chalkboard, Arial Rounded MT Bold, Arial Rounded MT;
        font-weight: bold;
        font-size: 1.2em;
    }

    .media-current(@screen-tablet-small, {
        .fix-square(1.7rem);

        &::after {
            font-size: 1.1em;
        }
    });
    
    .media-current(@screen-mobile, {
        .fix-square(1.3rem);

        &::after {
            font-size: 1em;
        }
    });
    
    &:not(.view-only){
        &[data-value="2"]:hover {
            cursor: pointer;

            &[data-myteam="0"] {
                background: fade(red, 15%);
            }
            
            &[data-myteam="1"] {
                background: fade(blue, 15%);
            }
        }
    }

    &[data-value="0"]::after {
        content: "O";
        color: red;
    }

    &[data-value="1"]::after {
        content: "X";
        color: blue;
    }

    &.last-move-highlighted {
        &[data-value="0"] {
            background: fade(red, 8%);
        }

        &[data-value="1"] {
            background: fade(blue, 8%);
        }
    }
}
