@import '../media.less';

.Background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    picture,
    img,
    .filter {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;
        // Opacity animated from a non-zero value to not impact LCP score
        opacity: 0.01;
        transition-property: opacity, transform;
        transition-timing-function: ease-out;
        transition-delay: 0.5s;
        transition-duration: 1.5s;
    }

    &.loaded.in-viewport {
        img {
            opacity: 1;
            transform: scale(1.08);
        }
    }
}
