@import '../media.less';

.Background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    picture,
    img,
    .filter {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;
        // Opacity animated from a non-zero value to not impact LCP score
        opacity: 0.01;
    }

    &.loaded {
        img {
            opacity: 1;
        }
    }

    .animation() {
        img {
            transition-property: opacity, transform;
            transition-duration: 2s;
            transition-timing-function: ease-out;
        }

        &.loaded {
            img {
                transform: scale(1.05);
            }
        }
    }

    .animation();
}
