@import '../../style/mixin.less';

.DocumentViewer {
    > .heading {
        width: 100%;
        max-width: @article-content-width;
        margin: 0 auto 2em;

        h1 {
            margin-bottom: 0.3em;
        }

        .description {
            font-style: italic;
        }
    }

    > .middle {
        width: 100%;
        max-width: @article-content-width;
        margin: 0 auto;

        > :not(:first-child) {
            margin-top: 1em;
        }

        > .quick-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: @space-tiny-4;
            margin-top: @space-medium-4;
        }
    }

    > .bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: @space-medium-4;
    }
}
