@import '../media.less';

.Footer {
    .soft-edge {
        overflow: hidden;

        svg {
            display: block;
            margin-bottom: -5px;
        }
    }

    .main-area {
        color: white;
        background: linear-gradient(to right, #1E469E, #1E469E 25%, #28A7DF);

        .media-current-max(1600px, {
            padding-top: 20px;
        });

        .media-current-max(1600px, {
            padding-top: 40px;
        });

        .media-current-max(800px, {
            padding-top: 60px;
        });

        .container {
            margin: auto;
            max-width: 1170px;
            padding: 0 15px 70px;
            display: grid;
            grid-template-columns: 6fr 4fr;
            gap: 30px;

            .media-current-between(621px, 800px, {
                grid-template-columns: 1fr 1fr;
            });

            .media-current-max(620px, {
                grid-template-columns: 1fr;
                max-width: 450px;
            });
        }

        .about-us {
            .brand {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 11px;

                .slogan {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 140%;
                }
            }

            .mission {
                margin-top: 19px;
                font-size: 15px;
                line-height: 25px;
                text-align: justify;
                max-width: 580px;
            }
        }

        .contact {
            .headline {
                font-size: 16px;
                font-weight: 700;
            }

            .info {
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                gap: 30px;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 12px;
                    }
                }

                .qrcode {
                    width: 82px;
                    height: 82px;
                    border: 1px solid white;
                }
            }
        }
    }
    
    .bottom-line {
        color: white;
        background: #0A328D;
        
        .container {
            margin: auto;
            max-width: 1170px;
            padding: 12px 15px;
            min-height: 44px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .media-current-max(620px, {
                max-width: 450px;
            });
        }

        ul {
            display: grid;
            grid-template-columns: 6fr 4fr;
            gap: 30px;
            
            .media-current-between(621px, 800px, {
                grid-template-columns: 1fr 1fr;
            });
            
            .media-current-max(620px, {
                grid-template-columns: 1fr;
                gap: 10px;
            });

            li {
                font-size: 14px;
                display: flex;
                flex-direction: row;
                gap: 7px;
            }
        }
    }
}
