@import '../../style/mixin.less';

.Team {
    &[data-team="0"] {
        .user {
            &.thinking {
                color: red;
            }
        }
    }

    &[data-team="1"] {
        .user {
            &.thinking {
                color: blue;
            }
        }
    }

    .user {
        &.thinking {
            text-decoration: underline;
        }
    }
}
