@import '../../style/mixin.less';

.Team {
    padding: 0 @space-small-2;

    .user {
        &.thinking {
            font-weight: bold;
            color: @color-caution;

            &::before {
                content: "> ";
            }
        }

        &.disconnected {
            color: @gray-light-A0;
        }
    }
}
