@import '../../style/mixin.less';

.Top {
    width: 100%;
    height: @top-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid @gray-light-A3;
    background: @gray-white;

    > .inner {
        width: 100%;
        max-width: 160ch;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: @viewport-padding;

        > :not(:last-child) {
            margin-right: @space-small-4;
        }

        > .logo {
            white-space: nowrap;

            img {
                width: 3em;
                height: 3em;
            }

            span {
                .font-body-bold();
            }
        }

        > .right {
            display: flex;
            align-items: center;

            > :not(:last-child) {
                margin-right: @space-small-2;
            }
            
            .nav-toggle {
                text-transform: uppercase;
                
                .media-current(@screen-desktop, {
                    display: none;
                });

                &.active {
                    color: @color-primary;
                }
            }
        }
    }
}
