@import '../media.less';

.Modules {
    background: #003195;
    padding: 82px 0 41px;
    
    .Background {
        layer-upper {
            background: linear-gradient(to right, #0d3796, #0d3796 60%, #0f78d0 100%);
            background-blend-mode: screen;
            opacity: 82%;
        }
    }

    > .heading {
        .container {
            margin: auto;
            max-width: 1200px;
            padding: 0 15px;
        }

        .title {
            color: white;
            font-size: 36px;
            font-weight: 700;
            text-align: center;
        }

        .description {
            margin-top: 13px;
            color: white;
            font-size: 17px;
            text-align: center;
        }
    }

    > .roadmap {
        margin-top: 26px;

        .container {
            margin: auto;
            max-width: 1200px;
            padding: 0 15px;
        }
    }

    > .videos {
        margin-top: 45px;

        .Slider {
            --slide-width: min(1100px, 100%);
            --slide-spacing: 60px;
            --slide-margin: 60px;
            max-width: calc(var(--slide-width) + 2 * var(--slide-margin));
            margin: auto;

            button {
                color: white;
            }

            .media-current-max(600px, {
                --slide-margin: 15px;
                max-width: calc(var(--slide-width) + 2 * var(--slide-margin));
            });
        }

        .SliderSlide,
        .SliderNextButton,
        .SliderBackButton {
            --focus-color: #FFFFFF55;
        }
        
        .media-current-min(1300px, {
            .SliderScrollView {
                --focus-color: #FFFFFF55;
            }
        });

        .VideoPlayer {
            --aspect-ratio: (16 / 9);
            width: 100%;
            padding: 15px 0;

            img,
            video {
                border-radius: 10px;
            }
        }
    }

    > .actions {
        margin-top: 23px;

        .container {
            margin: auto;
            max-width: 1200px;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        a,
        button {
            min-height: 50px;
            min-width: 270px;
            border-radius: 25px;
            font-weight: 900;
            font-size: 18px;
            text-align: center;
            color: white;
            background: linear-gradient(to bottom, #FAA714, #D37101);
            --focus-color: #D37101DD;
        }
    }
}
