.TreeView {
    .growth-path {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 7px;
        color: white;

        .line {
            flex-grow: 1;
            background: white;
            width: 1px;
        }
    }

    .cards {
        padding: 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px 98px;
    }

    .card {
        display: flex;
        flex-direction: column;

        .heading {        
            .content {
                background: #04A9FB;
                color: white;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 25px;
                padding: 5px 15px 5px 25px;
                min-height: 70px;
                cursor: pointer;
                border-radius: 6px;

                .title {
                    font-size: 20px;
                    font-weight: 700;
                }
        
                .indicator {
                }
            }

            .pointer {
                background: #04A9FB;
                width: 14px;
                height: 14px;
                border-radius: 7px;
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;

            }
        }

        .body {
            flex-grow: 1;
            border-radius: 6px;
            background: white;
            overflow: hidden;

            .description {
                color: #474747;
                font-size: 15px;
                padding: 15px 25px;
            }
        }

        &.collapsed {
            .body {
                height: 0;
                visibility: hidden;
            }
        }

        &.expanded {
            .heading {
                .content {
                    border-radius: 6px 6px 0 0;
                }
            }

            .body {
                border-radius: 0 0 6px 6px;
            }
        }

        &:nth-child(2n) .pointer {
            left: -56px;
        }

        &:nth-child(2n + 1) .pointer {
            right: -56px;
        }
    }
}
