.Avatar {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    overflow: hidden;
    background: lightgray;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
