@import '../media.less';

.DialogPortal {
    z-index: 10000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #F6F8FBCE;
    backdrop-filter: saturate(180%) blur(20px);
    overflow: auto;
    scrollbar-width: thin;
    padding: 30px 15px;

    .media-max(600px, {
        padding: 30px 0;
    });
}
