.FrequentlyAskedQuestions {
    padding: 71px 15px 37px;

    .container {
        margin: auto;
        max-width: 1170px;
    }

    .title {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    .content {
        margin-top: 49px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        li {
            background: white;
            border: 1px solid #E2E1E1;
            border-radius: 5px;
            --touchable-focus-color: #28A8E088;
    
            .heading {
                padding: 20px 25px;
                gap: 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                border-radius: 5px;
                width: 100%;
                text-align: left;
    
                .question {
                    flex-grow: 1;
                    font-size: 18px;
                    font-weight: 700;
                }
    
                .indicator {
                    min-width: 24px;
                }
            }
    
            .body {
                border-radius: 5px;
                
                .answer {
                    padding: 12px 25px;
                    font-size: 16px;
                    line-height: 26px;
                    color: #4E4D4D;
                }
            }

            &.expanded {
                .heading {
                    border-bottom: 1px solid #E2E1E1;
                    border-radius: 5px 5px 0 0;
                }

                .body {
                    border-radius: 0 0 5px 5px;
                }
            }

            &.collapsed {
                .body {
                    height: 0;
                    visibility: hidden;
                }
            }
        }
    }
}
