@import '../../style/mixin.less';

.ErrorViewer {
    > .details {
        width: 100%;
        max-width: @article-content-width;
        margin: 0 auto;
    
        h1 {
            .font-h1();
        }
        
        p {
            margin-top: @space-medium-4;
            font-family: @font-family-code;
            white-space: pre-line;
        }
    }
}
