@import '../../style/mixin.less';

.Nav {
    position: sticky;
    top: @top-height;
    height: calc(100vh - @top-height);
    padding-right: @space-tiny-4;
    min-width: 22ch;
    max-width: 22ch;

    .media-current(@screen-mobile, {
        min-width: 16ch;
    });

    ul {
        ul {
            padding-left: @space-small-4;
        }
        
        li {
            a {
                display: block;
                padding: @space-tiny-4 @space-tiny-2;
                cursor: pointer;

                &.selected {
                    color: @color-primary;
                }

                &.active {
                    text-decoration: underline;
                }

                &:hover {
                    background: @color-primary-light-A4;
                }
            }
        }
    }
}
