@import '../../style/mixin.less';

.Nav {
    width: 20em;

    ul {
        li {
            &.active {
                > a {
                    color: blue;
                }
            }

            a {
                cursor: pointer;
            }
        }
    }
}
