@import '../media.less';

.Enrollment {
    background: linear-gradient(to right, #122D6E, #166690);

    .Background {
        .filter {
            background: linear-gradient(to right, #0d3796, #0d3796 60%, #0f78d0 100%);
            background-blend-mode: screen;
            opacity: 80%;
        }
    }
    
    > .container {
        margin: auto;
        max-width: 1230px;
        padding: 54px 30px;
        gap: 36px;
        display: grid;
        grid-template-columns: 1.12fr 1fr;
        align-items: center;
        
        .media-current-max(1100px, {
            display: flex;
            flex-direction: column;
            align-items: center;
        });

        .details {
            width: 100%;
            max-width: 600px;

            .title {
                font-size: 36px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                
                &,
                & * {
                    background-image: linear-gradient(to bottom, #FDE2A3, #FAA714);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #FAA714;
                    text-shadow: 0 4px 4px 0 #00000040;
                }
            }

            .pricing {
                margin-top: 24px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;

                .media-current-max(600px, {
                    flex-direction: column;
                });

                .price {
                    flex-grow: 1;
                    padding: 16px 40px;
                    border-radius: 8px;
                    background: linear-gradient(to bottom, #FEEBB8, #FAA714);
                    text-align: center;

                    .sale-price {
                        font-size: 24px;
                        font-weight: 900;
                        color: #CC0C05;
                    }

                    .original-price {
                        font-size: 24px;
                        font-weight: 600;
                        text-decoration: line-through;
                    }
                }

                .tips {
                    color: white;
                    font-size: 17px;
                    font-weight: 700;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        li {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;

                            i {
                                display: block;
                                width: 7px;
                                height: 7px;
                                border-radius: 100%;
                                background: white;
                            }
                        }
                    }
                }
            }

            .checklist {
                margin-top: 30px;
                padding: 26px;
                background: linear-gradient(to bottom, #1691DE, #1053C7);
                border: 1px solid #FFFFFF57;
                border-radius: 13px;
                color: white;
                font-size: 17px;
                font-weight: 600;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                    
                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;

                        i {
                            color: #0099DD;
                        }

                        b {
                            font-weight: 900;
                        }
                    }
                }
            }
        }

        .form-box {
            background: #F1F3F4;
            border-radius: 13px;
            padding: 28px 30px 25px;
            width: 100%;
            max-width: 600px;

            .headlines {
                font-size: 25px;
                font-weight: 700;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 12px;

                strong {
                    font-weight: 900;
                    font-size: 32px;
                    color: #CB0B05;
                }

                b {
                    font-weight: 900;
                    color: #CB0B05;
                }
            }

            .timing {
                margin: 22px 20px 0;
                padding: 11px;
                border-radius: 10px;
                border: 2px dashed #1E469E;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                .media-current-max(600px, {
                    margin: 22px 0 0;
                });

                .description {
                    color: #1E469E;
                    font-size: 17px;
                    font-weight: 700;
                    text-align: center;
                }
            }

            form {
                margin: 24px 20px 0;
                display: flex;
                flex-direction: column;
                gap: 26px;

                .media-current-max(600px, {
                    margin: 24px 0 0;
                });

                .fields {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                }

                input {
                    display: block;
                    width: 100%;
                    height: 46px;
                    padding: 0 18px;
                    background: white;
                    border: 1px solid #DDD9D9;
                    border-radius: 4px;

                    &::placeholder {
                        color: #595454;
                    }

                    &:focus {
                        border-color: #2669DD;
                        outline: 3px solid #2669DD66;

                        &::placeholder {
                            color: #ADAAAA;
                        }
                    }
                }

                button {
                    width: 100%;
                    min-height: 50px;
                    border-radius: 25px;
                    font-size: 18px;
                    font-weight: 900;
                    color: white;
                    background: linear-gradient(to bottom, #FAA714, #D37101);
                    --focus-color: #D37101DD;
                }
            }
        }
    }
}
