.Slider {
    position: relative;

    .SliderSlideShow {
        margin: auto;
    }
    
    .aspect {
        padding: 0 var(--slide-margin, 0);
        pointer-events: none;
        visibility: hidden;

        .ratio {
            padding-bottom: calc(100% / var(--slide-aspect, infinity));
        }
    }

    .SliderScrollView {
        position: var(--slide-growth, relative);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-flow: row nowrap;
        gap: var(--slide-spacing, 0);
        padding: 0 var(--slide-margin, 0);
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &:focus {
            outline: 2px solid var(--focus-color, transparent);
        }
    }

    .SliderSlide {
        flex: none;
        scroll-snap-align: start;
        scroll-margin: var(--slide-margin, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--slide-width, auto);
    }
    
    &[data-scrolling="false"] .SliderSlide[data-in-view="false"] {
        opacity: 0;
    }

    .SliderBackButton,
    .SliderNextButton {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 60px;
        width: var(--slide-margin, 30px);
        min-width: 30px;
        max-width: 60px;
        border-radius: 6px;
        z-index: 1;
    }

    .SliderBackButton {
        left: 0;
    }

    .SliderNextButton {
        right: 0;
    }

    .SliderDotNavigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        button {
            width: 20px;
            height: 20px;
            border-radius: 100%;

            i {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: #BAB8B8;
            }
            
            &[data-active="true"] i {
                background: #848181;
            }
        }
    }

    &[data-scrollable="false"] {
        .SliderDotNavigation,
        .SliderBackButton,
        .SliderNextButton {
            display: none;
        }
    }
}
