@import '../../style/theme.less';

.DemoViewer {
    border: 1px solid @gray-light-A2;
    overflow: hidden;

    > .action-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: @gray-light-A4;
        padding: @space-tiny-2 @space-small-4;

        & > :not(:last-child) {
            margin-right: @space-small-4;
        }
    }

    > .code-box {
        
    }
    
    > .output-box {
        > .ui {
            padding: @space-small-4;
        }

        > .console {
            > .heading {
                .font-code();
                font-size: @font-size-body-bold;
                padding: @space-tiny-4 @space-small-4;
                border-top: 1px solid @gray-light-A2;
                border-bottom: 1px solid @gray-light-A4;
            }
            
            > .body {
                padding: @space-small-4;
            }
        }
    }
}
