.Layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    
    > .inner {
        width: 100%;
        max-width: 160ch;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;

        > main {
            flex-grow: 1;
        }
    }
}
