@import '../style/mixin.less';

.Layout {
    padding-top: @top-height;

    @viewport-max-width: 160ch;

    > .topbar {
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: @top-height;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        border-bottom: 1px solid @gray-light-A3;
        background: @gray-white;

        > .Top {
            width: 100%;
            max-width: @viewport-max-width;
        }
    }
    
    > .epic-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .middle {
            width: 100%;
            max-width: @viewport-max-width;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;

            &:not(.shows-nav-on-non-desktop) {
                > .Nav {
                    .media-current(@screen-non-desktop, {
                        display: none;
                    });
                }
            }
        }
    }
}
