@import '../style/mixin.less';

.Layout {
    padding-top: @top-height;

    > .Top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    
    > .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: @space-medium-2;

        > .middle {
            width: 100%;
            max-width: 160ch;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;

            > .Nav {
                position: sticky;
                top: @top-height;
                height: calc(100vh - @top-height);
            }

            > main {
                flex-grow: 1;
                max-width: 100%;
            }

            &:not(.shows-nav-on-non-desktop) {
                > .Nav {
                    .media-current(@screen-non-desktop, {
                        display: none;
                    });
                }  
            }

            &.shows-nav-on-non-desktop {
                > main {
                    overflow-x: auto;
                }
            }
        }
    }
}
