@import '../../style/mixin.less';

.PlaygroundViewer {
    border: solid @gray-twilight;
    border-width: 1px 0 3px 0;
    border-bottom-style: double;

    > .Section {
        &:not(:first-child) {
            border-top: 1px solid @gray-twilight;
        }
    }
}
